@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.register-card {
  width: 495px;
  height: 600px;
  border-radius: 20px;
  background-color: #fff;
  border: 4px solid #1952a1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-title {
  height: 34px;
  font-size: 28px;
  font-weight: 600;
  font-family: "Inter";
  color: #5e5e5e;
  margin: 12px 0 0 0;
}

.register-subtitle {
  height: 30px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Inter";
  color: #5e5e5e;
  margin: 0 0 0 0;
}

.register-btn {
  width: 415px;
  height: 44px;
  font-size: 20px;
  font-family: "Inter";
  font-weight: 600;
  color: #fff;
  background-color: #1952a1;
  border-radius: 8px;
  border: solid #1952a1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 36px;
  margin-bottom: 12px;
}

.register-btn:hover {
  background-color: #144488;
  color: #cbcbcb;
}